@charset "utf-8";

/*foundation*/
@import "foundation/initialize.css";
@import "foundation/properties.css";
@import "foundation/mixin.css";
@import "foundation/init.css";
@import "foundation/util.css";
/*layout*/
@import "layout/header.css";
@import "layout/footer.css";

html{
    height: 100%;
}

/*bg*/
.bg{
    background-image: url(../../assets/img/bg.jpg);
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    @mixin sp{
        background-position: center top;
    }

}

canvas{
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    &:after{
        content: ' ';
        background-color: rgba(0,0,0,0.6);
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    }

}

/*content*/
.content{
    /*position: fixed;*/
    height: 100%;
    width: 100%;
    top: 2px;
    position: relative;
    z-index: 2;
}

/*header*/
.header{
    color: #fff;
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding-top: 60px;
    height: 100%;
    position: relative;
    &__txt{
        font-size: 40px;
        letter-spacing: 2px;
        @mixin sp{
            font-size: 8vw;
        }
        &:last-child{
            padding-top: 200px;
        }

    }
    &__ttl{
        font-size: 65px;
        letter-spacing: 3px;
        top: 38%;
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
        @mixin sp{
            width: 90%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
    }
    &__scrollWrap{
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%,-50%);
        animation-name: finger;
        @mixin sp{
            bottom: 7%;
        }
        a{
            color: #fff;
        }
    }
    &__mouse{
        width: 22px;
        height: 42px;
        bottom: 40px;
        left: 50%;
        border-radius: 15px;
        border: 2px solid #fff;
        animation: intro 1s;
        margin: 0 auto;
    }
    &__scroll{
        display: block;
        width: 3px;
        height: 3px;
        margin: 6px auto;
        border-radius: 4px;
        background: #fff;
        animation: finger 1s infinite;
    }
    &__scrollTxt{
        font-family: $font-family-yugo;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 1.5px;
        @mixin sp{
            font-size: 3.5vw;
        }
    }
}

/*head-ttl*/
.head-ttl{
    color: #fff;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 4px solid #fff;
    @mixin sp{
        font-size: 7vw;
        padding-bottom: 5%;
        border-bottom: 2px solid #fff;
    }
}

/*date*/
.date{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    @mixin sp{
        width: 90%;
    }
    &__ttl{

    }
    &__txt{
        padding-top: 40px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        @mixin sp{
            line-height: 1.6;
            padding-top: 7%;
            font-size: 3.5vw;
        }
    }
    &__itm{
        padding-top: 25px;
        letter-spacing: 4px;
        @mixin sp{
            line-height: 1.6;
            padding-top: 7%;
        }
        &:first-child{
            padding-top: 0;
        }
    }
}

/*date*/
.food{
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    position: relative;
    @mixin sp{
        width: 90%;
    }
    &__ttl{

    }
    &__txt{
        padding-top: 40px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        @mixin sp{
            line-height: 1.6;
            padding-top: 7%;
            font-size: 3.5vw;
        }
    }
    &__itm{
        padding-top: 25px;
        letter-spacing: 4px;
        @mixin sp{
            line-height: 1.6;
            padding-top: 7%;
        }
        &:first-child{
            padding-top: 0;
        }
    }
}

/*prepare*/
.prepare{
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    position: relative;
    @mixin sp{
        width: 90%;
    }
    &__ttl{

    }
    &__txt{
        padding-top: 40px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        @mixin sp{
            line-height: 1.6;
            padding-top: 7%;
            font-size: 3.5vw;
        }
    }
    &__itm{
        padding-top: 25px;
        letter-spacing: 4px;
        @mixin sp{
            line-height: 1.6;
            padding-top: 7%;
        }
        &:first-child{
            padding-top: 0;
        }
    }
}

/*footer*/
.footer{
    padding-top: 300px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    position: relative;
    &__txt{
        font-size: 13px;
        letter-spacing: 2px;
        @mixin sp{
            font-size: 3vw;
        }
    }
}

/* keyframes */
@keyframes intro{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes finger{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(20px);
    }
}
